BASE_URL=http://localhost/tecnomedic_php
HOME_URL=http://localhost/tecnomedic_php

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=tecnomedic_local
DB_CHARSET=utf8mb4

ADMIN_USER=admin
ADMIN_PASS=cambiar_esta_clave

BREVO_API_KEY=
MAIL_FROM=noreply@tecnomedic.com.ar
MAIL_NAME=TECNOMEDIC Turnos

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_WA_FROM=whatsapp:+14155238886

MAX_POR_HORARIO=2
